# Byte-compiled / Python cache files
__pycache__/
*.pyc
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

#Capture Logs
*.har

# Large Datasets & Media
#anime_images/
urltxt/

# Generated Database / Models
*.task

# IDE / OS junk
.DS_Store
.vscode/
.idea/
